* {
  margin: 0;
  padding: 0;
}
body {
  margin-inline: 200px;
}

#header-container {
  width: 1100px;
  /* padding-right: 50px; */
  background-color: white;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  /* width: 1100px; */
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  width: 119px;
  height: 39px;
}

#people {
  width: 100%;
}

#header-navbar {
  display: flex;
  /* width: 556px; */
  justify-content: space-around;
  font-weight: bold;
}

.news-container {
  padding-left: 15px;
  padding-right: 15px;
}

#header-statistic {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

#weather {
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
}
.Business {
  background: #c40097;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  padding: 8px 15p;
  color: white;
  height: 30px;
  width: 73.02px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.suu {
  color: #000;
  margin: 10px 0px 20px;
  margin-top: 10px;
  padding-right: 30px;
  font-weight: bold;
  padding: 10px 30px 0px 0px;
  height: 154px;
  width: 502.5px;
  font: 26px;
}

.us {
  color: gray;
  text-align: left;

  margin: 10px 0px 20px;
  height: 60px;
  width: 502.5px;
  margin-top: 10px;
  font: 13px;
}

.share {
  text-align: center;
  font: 16px;
  border-radius: 100px;
  justify-content: center;
  width: 56.35px;
  height: 36px;
  margin: 0px 20px 0px 0px;
  border: none;
  gap: 15px;
}

#intro-image-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 18px;
  align-items: start;
}
.margin-top-40{
  margin-top: 40px;
}
.uk-container{
  max-width: 1100px;
}
.uk-container{
  padding-left: 40px;
        padding-right: 40px;
}
.uk-container {
  padding-left: 30px;
  padding-right: 30px;
}
.uk-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.section-title .gg-label-blue {
  font-size: 18px;}

.gg-label-blue {
  color: #fff;
    padding: 2px 3px;
    background-color: #00b0f4;
    border-radius: 3px;
}
.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  gap: 50px;
  align-items: start;
  border-radius: 10px;
}
.hide3{
  position: relative;
  width: 500px;
}
.hide-3 {
  opacity: 0.7;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: wheat;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 16px;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  border-radius: 10px;
}
main {
  width: 100vw;
  height: 100vh;
}

.tyson-card-text {
  font-size: 14px;
  font-weight: bold;
}

.tyson-card {
  height: 185.8px;
  width: 235px;

}

.tyson-card-img {
  height: 235px;
  width: 170.8px;
  object-fit: cover;
  border-radius: 8px;
  gap: 1px;
}
.tyson-card-img transition {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.hide {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 8px;
}

.transition {
  transition: 0.3s;
}

.hide-container {
  position: relative;
  color: aliceblue;
}

.hide-container:hover .hide {
  opacity: 0.4;
}

.hide-container:hover .news-card {
  scale: 1.1;
}

.hide-text {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  height: 37px;
  width: 150.8px;
  overflow: hidden;
}

.hide-container:hover .hide-text {
  opacity: 1;
  height: 120px;
}

.story-gg {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00b0f4;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gg {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-bottom: 20px;
}

#intro-section {
  width: 1100px;
  background-color: white;
}

.news-list {
  display: flex;
}

.see-result {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  display: block;
  unicode-bidi: isolate;
  height: 192.92px;
  width: 22px;
}

.home-calendar-container:hover .home-calendar-text {
  color: #407ce8;
  transition: all 0.2s ease-in-out;
}

.home-calendar-container.active .home-calendar-text {
  color: #407ce8;
}

.home-calendar-text {
  color: #407ce8;
  font-size: 13px;
  text-align: center;
  border: none;
}

.home-calendar-container {
  color: #b7b6b6;
}

.calendar-one-day {
  width: 103.81px;
  background-color: blue;
  border-radius: 3px;
  display: flex;
  border: none;
}
.home-calendar-container:hover .calendar-one-day {
  background-color: #407ce8;
  transition: all .2s ease-in-out;
}
.calendar-one-day {
  height: 7px;
  background-color: #efefef;
  border-radius: 20px;
  transition: all .4s ease-in-out;
}
.calendar-one-day, .home-calendar-container {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.calendar-one-day-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.calendar-first-day-text {
  color: #407ce8;
}

*/ .calendar-one-day-1 {
  height: 7px;
  width: 103.81px;
  background-color: #b7b6b6;
  border-radius: 3px;
}

.calendar-one-day-2 {
  height: 7px;
  width: 103.81px;
  background-color: #b7b6b6;
  border-radius: 3px;
}

.calendar-one-day-3 {
  height: 7px;
  width: 103.81px;
  background-color: #b7b6b6;
  border-radius: 3px;
}

.calendar-one-day-4 {
  height: 7px;
  width: 103.81px;
  background-color: #b7b6b6;
  border-radius: 3px;
}

.calendar-one-day-5 {
  height: 7px;
  width: 103.81px;
  background-color: #b7b6b6;
  border-radius: 3px;
}
#news-data{
  margin-bottom: 15px;
  margin-top: 10px;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  margin-top: 10px;
}

.news-tyson-news {
  display: flex;
  flex-direction: column;
  height: 3435.37px;
  width: 690px;
}

.news-text {
  height: 78px;
  width: 450px;
}
.news-img {
  height: 150px;
  width: 210px;
  border-radius: 5px;
  margin-top: 5px;
}
.news-title30 {
  width: 480px;
  height: 171px;
}
.back-blue {
  background: #287df0;
}
.margin-top-20 {
  margin-top: 20px;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}

.uk-grid {
  display: flex; 
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.004);
  -moz-osx-font-smoothing: grayscale;
  color: #6c6c6c;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #666;
}
::selection {
  color: #000;
  background: rgba(192, 223, 255, 0.5411764705882353);
}
::selection {
  background: #ccc;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

.nav-bar-news {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.unshih {
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.4;
}
.unshih-test {
  display: none;
  position: relative;
  width: 100%;
}

.nav-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  /* width: 32%; */
}
.text-12 {
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}

.header-info-container {
  display: flex;
  justify-content: space-between;
}
.hide-2{
  opacity: 0.7;
  display: none;
  justify-content:center;
  align-items: center;
  position: absolute;
  color: wheat;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 16px;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  border-radius: 10px;
}
.zurag-1{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 0;
}
.zurag-container{
  position: relative;
  width: 500px;
}
.zurag-container:hover .hide-2{
  display: flex;
}
.btn-more, .btn-more:hover {
  transition: all .4s ease-in-out;
}
.btn-more {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.text-black {
  color: #000;
}
.uk-link, a {
  text-decoration: none;
  cursor: pointer;
  color: #00adee;
  background-color: unset;
  transition: all .2s ease-in-out;
}
.uk-link, a {
  background-color: none;
}

.uk-transition-opaque {
  opacity: 1;
}
.uk-transition-scale-up {
  transform: scale(1);
}
.uk-transition-toggle {
  -webkit-tap-highlight-color: transparent;
}
.uk-grid-column-small, .uk-grid-small {
  margin-left: -15px;
}
@media (min-width: 1200px) {
  .uk-grid {
      margin-left: -40px;
  }
}
.uk-grid {
  margin-left: -30px;
}
.uk-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.uk-icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}
.margin-top-60{
  margin-top: 60px;
}

.home-interview-main-category {
  background-color: #407ce8;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  color: #333;
  text-transform: none;
}
.home-interview-main-more-txt, .home-interview-main-small-txt {
  color: #333;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid hsla(0, 0%, 100%, .15);
  font-size: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.home-interview-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  width: 545.5px;
  border-radius: 5px;
}
.uk-transition-opaque {
  opacity: 1;
}
.uk-transition-scale-up {
  transform: scale(1);
}




