* {
  margin: 0;
  padding: 0;
}
body {
  margin-inline: 200px;
}

#header-container {
  width: 1100px;
  /* padding-right: 50px; */
  background-color: white;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  /* width: 1100px; */
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  width: 119px;
  height: 39px;
}

#people {
  width: 100%;
}

#header-navbar {
  display: flex;
  /* width: 556px; */
  justify-content: space-around;
  font-weight: bold;
}

.news-container {
  padding-left: 15px;
  padding-right: 15px;
}

#header-statistic {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

#weather {
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
}
.Business {
  background: #c40097;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  padding: 8px 15p;
  color: white;
  height: 30px;
  width: 73.02px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.suu {
  color: #000;
  margin: 10px 0px 20px;
  margin-top: 10px;
  padding-right: 30px;
  font-weight: bold;
  padding: 10px 30px 0px 0px;
  height: 154px;
  width: 502.5px;
  font: 26px;
}

.us {
  color: gray;
  text-align: left;

  margin: 10px 0px 20px;
  height: 60px;
  width: 502.5px;
  margin-top: 10px;
  font: 13px;
}

.share {
  text-align: center;
  font: 16px;
  border-radius: 100px;
  justify-content: center;
  width: 56.35px;
  height: 36px;
  margin: 0px 20px 0px 0px;
  border: none;
  gap: 15px;
}

#intro-image-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 18px;
  align-items: start;
}
.margin-top-40{
  margin-top: 40px;
}
.uk-container{
  max-width: 1100px;
}
.uk-container{
  padding-left: 40px;
        padding-right: 40px;
}
.uk-container {
  padding-left: 30px;
  padding-right: 30px;
}
.uk-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.section-title .gg-label-blue {
  font-size: 18px;}

.gg-label-blue {
  color: #fff;
    padding: 2px 3px;
    background-color: #00b0f4;
    border-radius: 3px;
}
.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  gap: 50px;
  align-items: start;
  border-radius: 10px;
}
.hide3{
  position: relative;
  width: 500px;
}
.hide-3 {
  opacity: 0.7;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: wheat;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 16px;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  border-radius: 10px;
}
main {
  width: 100vw;
  height: 100vh;
}

.tyson-card-text {
  font-size: 14px;
  font-weight: bold;
}

.tyson-card {
  height: 185.8px;
  width: 235px;

}

.tyson-card-img {
  height: 235px;
  width: 170.8px;
  object-fit: cover;
  border-radius: 8px;
  gap: 1px;
}
.tyson-card-img transition {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.hide {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 8px;
}

.transition {
  transition: 0.3s;
}

.hide-container {
  position: relative;
  color: aliceblue;
}

.hide-container:hover .hide {
  opacity: 0.4;
}

.hide-container:hover .news-card {
  scale: 1.1;
}

.hide-text {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  height: 37px;
  width: 150.8px;
  overflow: hidden;
}

.hide-container:hover .hide-text {
  opacity: 1;
  height: 120px;
}

.story-gg {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00b0f4;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gg {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-bottom: 20px;
}

#intro-section {
  width: 1100px;
  background-color: white;
}

.news-list {
  display: flex;
}

.see-result {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  display: block;
  unicode-bidi: isolate;
  height: 192.92px;
  width: 22px;
}

.home-calendar-container:hover .home-calendar-text {
  color: #407ce8;
  transition: all 0.2s ease-in-out;
}

.home-calendar-container.active .home-calendar-text {
  color: #407ce8;
}

.home-calendar-text {
  color: #407ce8;
  font-size: 13px;
  text-align: center;
  border: none;
}

.home-calendar-container {
  color: #b7b6b6;
}

.calendar-one-day {
  width: 103.81px;
  background-color: blue;
  border-radius: 3px;
  display: flex;
  border: none;
}
.home-calendar-container:hover .calendar-one-day {
  background-color: #407ce8;
  transition: all .2s ease-in-out;
}
.calendar-one-day {
  height: 7px;
  background-color: #efefef;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.calendar-one-day, .home-calendar-container {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.calendar-one-day-text {
  align-items: center;
  display: flex;
  justify-content: center;
}


#news-data{
  margin-bottom: 15px;
  margin-top: 10px;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  margin-top: 10px;
}

.news-tyson-news {
  display: flex;
  flex-direction: column;
  height: 3435.37px;
  width: 690px;
}

.news-text {
  height: 78px;
  width: 450px;
}
.news-img {
  height: 150px;
  width: 210px;
  border-radius: 5px;
  margin-top: 5px;
}
.news-title30 {
  width: 480px;
  height: 171px;
}
.back-blue {
  background: #287df0;
}
.margin-top-20 {
  margin-top: 20px;
}


.uk-grid {
  display: flex; 
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


::selection {
  color: #000;
  background: rgba(192, 223, 255, 0.5411764705882353);
}
::selection {
  background: #ccc;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

.nav-bar-news {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.unshih {
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.4;
}
.unshih-test {
  display: none;
  position: relative;
  width: 100%;
}

.nav-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  /* width: 32%; */
}
.text-12 {
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  display: flex;
}

.header-info-container {
  display: flex;
  justify-content: space-between;
}
.hide-2{
  opacity: 0.7;
  display: none;
  justify-content:center;
  align-items: center;
  position: absolute;
  color: wheat;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 16px;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  border-radius: 10px;
}
.zurag-1{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 0;
}
.zurag-container{
  position: relative;
  width: 500px;
}
.zurag-container:hover .hide-2{
  display: flex;
}
.btn-more, .btn-more:hover {
  transition: all .4s ease-in-out;
}
.btn-more {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.text-black {
  color: #000;
}
.uk-link, a {
  text-decoration: none;
  cursor: pointer;
  color: #00adee;
  background-color: unset;
  transition: all .2s ease-in-out;
}
.uk-link, a {
  background-color: none;
}

.uk-transition-opaque {
  opacity: 1;
}
.uk-transition-scale-up {
  transform: scale(1);
}
.uk-transition-toggle {
  -webkit-tap-highlight-color: transparent;
}
.uk-grid-column-small, .uk-grid-small {
  margin-left: -15px;
}
@media (min-width: 1200px) {
  .uk-grid {
      margin-left: -40px;
  }
}
.uk-grid {
  margin-left: -30px;
}
.uk-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.uk-icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
  color: white;
}
.margin-top-60{
  margin-top: 60px;
}

.home-interview-main-category {
  background-color: #407ce8;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  color: #333;
  text-transform: none;
}
.home-interview-main-more-txt, .home-interview-main-small-txt {
  color: white;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid hsla(0, 0%, 100%, .15);
  font-size: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.home-interview-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  width: 545.5px;
  border-radius: 5px;
}
.uk-transition-opaque {
  opacity: 1;
}
.uk-transition-scale-up {
  transform: scale(1);
}

.gutal-text{
    background-color: #407ce8;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
   
}
.home-interview-main-title {
  color: white;
  font-weight: 700;
  font-size: 20px;
 
}

.test-1{
  display: flex;
}
.yriltslaga{
  position: relative;
  width: 250px;
  overflow: hidden;
  
}
.four{
  display: flex;
 
  flex-wrap: wrap;
}
.zero{
  display: flex;
 
  flex-wrap: wrap;
}
.one{
  overflow: hidden;


}
.today{
  transition: all 0.3s ease;
  object-fit: cover;

}
.one .today:hover{
  transform: scale(1.2);
}
.yriltslaga:hover p {
  height: 50%;
 
}
.text99{
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 1;
  left: 0;
  width: 85%;
  height: 40%;
  transition: 0.3s;

}
.test-01{
  display: flex;
}
.text99:hover{
  height: auto;
}
 



.five:hover p{
  height: 50%;
}
.five{
  position: relative;
  width: 250px;
  overflow: hidden;

}
.five:hover p {
  height: 50%;
}
.garaaniibiznes{
  background-color: #407ce8;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 3px;
 
}
.home-interview-small-title{
color: white;
  font-weight: 700;
  font-size: 20px;
  
}
.dia-img{
    transition: all 0.3s ease;
    object-fit: cover;
    
}

.diimaa-text1{
  height: auto;
}
.dima.dia-img:hover{
  
    transform: scale(1.2);
  }
  .s1:hover p{
height: 50%;
  }
  .huniituuh .huniituuh1:hover{
    transform: scale(1.2);
  }

  .huniiituuh1{
    transition: all 0.3s ease;
width: 263.75px;
height: 243px;
object-fit: cover;

  }
  
  .yrilts{
    position: relative;
  overflow: hidden;
  
  }
  .yri{
    position: relative;
    overflow: hidden;
  }
  .test-2{
  
  }
  .slider-card .card-title[data-v-4f7c39b7] {
    min-height: 72px;
    font-weight: 500;
    display: flex;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slider-card .slider-card-bottom[data-v-4f7c39b7] {
  transition: all .2s ease-in-out;
}
.uk-slider-items.uk-grid {
  flex-wrap: nowrap;
}
.uk-slider-items {
  will-change: transform;
  position: relative;
}
.uk-grid-column-small, .uk-grid-small {
  margin-left: -15px;
}
@media (min-width: 1200px) {
  .uk-grid {
      margin-left: -40px;
  }
}
.uk-grid {
  margin-left: -30px;
}
.uk-grid {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0; */
  padding: 0;
  list-style: none;
}
ol, ul {
  padding-left: 30px;
}
address, dl, fieldset, figure, ol, p, pre, ul {
  margin: 0 0 20px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.slider-card .card-img[data-v-4f7c39b7] {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.uk-transition-opaque {
  opacity: 1;
}
.uk-transition-scale-up {
  transform: scale(1);
}
[class*=uk-width] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
.slider-card .slider-card-bottom[data-v-4f7c39b7] {
  transition: all .2s ease-in-out;
}
.slider-card-bottom[data-v-4f7c39b7] {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.padding-10 {
  padding: 10px;
}
.slider-card .card-title[data-v-4f7c39b7] {
  min-height: 72px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-16 {
  font-size: 16px ;
  line-height: 24px ;
}
.home-entertainment-section {
  background-color: #1a1a1a;
}
.padding-top-50 {
  padding-top: 50px;
}
.margin-top-60 {
  margin-top: 60px;
}
section {
  display: block;
  unicode-bidi: isolate;
}
.uk-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.uk-link, a {
  text-decoration: none;
  cursor: pointer;
  color: #00adee;
  background-color: unset;
  transition: all .2s ease-in-out;
}
.uk-link, a {
  background-color: none;
}
.uk-button, .uk-link, a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.uk-link, a {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}
